@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MvcShus.Models.Frinds 

<h1>@Model._name</h1>
<p>Age:  @Model._age</p>
<p>id:  @Model._id</p>